<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Buss
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items | async" [routerLink]="[item.id]">
      <ion-label class="ion-text-wrap">
        {{ item.bus_id }}<br>{{ item.bus_company }}<br>{{ item.bus_plate }}<br>{{ item.bus_route }}<br>{{ item.bus_location_lat }}<br>{{ item.bus_location_long }}<br>
        <!-- <p>{{ item.id }}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['null']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>