<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="mistscans"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Mistscan
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="mistscanForm" (ngSubmit)="submit()">
    <ion-item>
        <ion-label position="stacked">Mist scan ID</ion-label>
        <ion-input formControlName="MistscanID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Type</ion-label>
        <ion-input formControlName="MistType"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mist data</ion-label>
        <ion-input formControlName="MistData"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Details</ion-label>
        <ion-input formControlName="Mistdetails"></ion-input>
      </ion-item>
      
      <ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical"
      [disabled]="!mistscanForm.valid">
        Save
      </ion-button>

      <ion-button *ngIf="id" (click)="delete()" type="button" expand="block" class="ion-padding-horizontal ion-margin-vertical" color="danger">
        Delete
      </ion-button>
    </form>
  </ion-content>
  