<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="sellers"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Seller
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="sellerForm" (ngSubmit)="submit()">
    <ion-item>
        <ion-label position="stacked">Seller</ion-label>
        <ion-input formControlName="Seller_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">details</ion-label>
        <ion-input formControlName="Seller_details"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-input formControlName="Location_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Latitude</ion-label>
        <ion-input formControlName="seller_lat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Longitude</ion-label>
        <ion-input formControlName="seller_longitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Products</ion-label>
        <ion-input formControlName="seller_scans"></ion-input>
      </ion-item>
      
      <ion-button type="submit" expand="block" class="ion-padding-horizontal ion-margin-vertical"
      [disabled]="!sellerForm.valid">
        Save
      </ion-button>

      <ion-button *ngIf="id" (click)="delete()" type="button" expand="block" class="ion-padding-horizontal ion-margin-vertical" color="danger">
        Delete
      </ion-button>
    </form>
  </ion-content>
  