<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Entities
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid">
  <ion-card class="card-lines">
    <ion-card-header>
      <ion-card-subtitle>Your closest bus station is:</ion-card-subtitle>
      <ion-card-title>{{livepassengercountlocation}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        
        <ion-item noline>
          Number of passengers: {{livepassengercount}}
        </ion-item>
        <ion-item>
          Last checked: {{livepassengercounttime}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

